<%= form_with(model: post) do |form| %>
  <div class="fields">
    <%= form.label :title, '標題' %>
    <%= form.text_field :title %>
  </div>

  <div class="fields">
    <%= form.label :content, '內容' %>
    <%= form.text_area :content %>
  </div>

  <div class="fields">
    <%= form.label :start_at, '開始日期' %>
    <%= form.date_field :start_at %>
  </div>

  <div class="fields">
    <%= form.label :end_at, '結束日期' %>
    <%= form.date_field :end_at %>
  </div>

  <div class="actions">
    <%= form.submit btn_label %>
  </div> 

<% end %>