<%= form_with(model: course) do |form| %>
  <div class="fields">
    <%= form.label :title, '標題' %>
    <%= form.text_field :title %>
  </div>

  <div class="fields">
    <%= form.label :content, '內容' %>
    <%= form.text_area :content %>
  </div>

  <div class="fields">
    <%= form.label :start_at, '' %>
    <%= form.text_area :start_at %>
  </div>

  <div class="fields">
    <%= form.label :end_at, '' %>
    <%= form.number_field :end_at %>
  </div>

  <div class="actions">
    <%= form.submit btn_label %>
  </div> 

<% end %>